/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(font-awesome.css);
/** Defaults **/
* { padding: 0; margin: 0; outline: 0; }

body { background: #fff;   font-family: 'Noto Sans', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow: hidden; height: 100vh;  letter-spacing: .5px}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33C3F0;
  z-index: 99;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(./img/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Noto Sans", sans-serif;*/
  font-weight: 700;
  text-transform: uppercase; 
}

.button, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
  font-size: 12px;

}


.logo {font-size: 2.5em; font-weight: bold;visibility: hidden;}

header .header-inner {height: 100%;}
header h1 {display: inline-block; width:auto;}

nav {display: inline-block;width: auto;vertical-align: middle; margin:20px; float: right;}
nav ul li {list-style: none; display: inline-block;}

input {margin-bottom: 10px;}
select {width: 100%;}

a.cta, input.cta {background-color:#F03333!important; border-color:#F03333!important;  }
a.cta:hover, input.cta:hover {background-color:#DC3333!important; border-color:#DC3333!important;  }
label, th { text-transform: uppercase; }
tbody tr:hover { background: rgba(51, 195, 240, 0.1); cursor: pointer;}

.container {min-width: 96%;}


.win {color:#00FF5A;}
.loss {color:#F03333;}

.tag {;color: #fff;border-radius: 2px;padding: 0 4px;margin: 0 0 0 5px;font-size: 12px;letter-spacing: 1px;}
.tag.f {background-color: #F03333;}
.tag.h { background-color: #F09333;}

.rank-chart { margin-bottom: 40px; max-height: 400px; max-width: 600px; position: relative;}
.rank-chart canvas { max-height: 400px!important; }

.profile {position: relative;bottom: 0;left: 0;}
.profile-info {border-radius: 5px;border: solid 2px #33C3F0;background: #fff;color:#000;padding: 0px 0px 10px;}
.profile-head {background: #33C3F0;color:#fff;width: 100%;height: 100%; padding: 10px 0px;text-align: left;}
.profile-head h1 {margin: 0; padding: 0 20px;}
.profile-body {padding: 10px 20px; width: 100%; height: 100%; }

.recent-games {border: 1px solid #E1E1E1;border-radius: 5px;text-align: center;width: 100%;position: relative;top: 20px;}
.recent-games ul {list-style: none;}
.recent-games h5:nth-of-type(1) {color:#33C3F0;}
.recent-games h5:nth-of-type(2) {color:#F03333;}
.recent-games h5,
.recent-games h6 {margin: 0;}

footer {position: relative; width:100%; bottom: 0;}
footer .footer-inner { padding:20px 40px; text-align: center;}

input.error{border-color: red;}

@media (max-width:767px) {
  .tag {font-size:10px;}
}
