/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(font-awesome.css);
/** Defaults **/
* {
  padding: 0;
  margin: 0;
  outline: 0; }

body {
  background: #fff;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33C3F0;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(./img/loader.svg);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700; }

header .header-inner {max-width: 1280px; margin: 0 auto; padding: 0 20px; height: 100%;}
header h1 {display: inline-block; width:auto;}
nav {display: inline-block;width: auto;vertical-align: middle; margin:20px; float: right;}
nav ul li {list-style: none; display: inline-block;}

input {margin-bottom: 10px;}
select {width: 100%;}

a.button.cta {background-color:#F03333; border-color:#F03333;  }
a.button.cta:hover {background-color:#DC3333; border-color:#DC3333;  }

#DC3333
tbody tr:hover { background: rgba(51, 195, 240, 0.1); cursor: pointer;}

.recent-games {border: 1px solid #E1E1E1; border-radius: 5px; text-align: center; position: relative; bottom:0;}
.recent-games ul {list-style: none;}
.win {color:#00FF5A;}
.loss {color:#F03333;}
.tag {;color: #fff;border-radius: 2px;padding: 0 4px;margin: 0 0 0 5px;font-size: 12px;letter-spacing: 1px;}
.tag.f {background-color: #F03333;}
.tag.h { background-color: #F09333;}
.rank-chart {width: 100%;
    margin-bottom: 40px;
    height: 100%;
    position: relative;

  }

  .profile-info {
    position: relative;
    border-radius: 5px;
    background: #33C3F0;
    color:#fff;
    padding:10px 20px;
    height: 100%;
    width:100%;
  }

.recent-games h5:nth-of-type(1) {color:#33C3F0;}
.recent-games h5:nth-of-type(2) {color:#F03333;}

.recent-games h5,
.recent-games h6 {
  margin: 0;
}

footer {position: relative; width:100%; bottom: 0; left:0; right:0;}
footer .footer-inner {
  padding:20px 40px;
  text-align: center;
}

input.error{border-color: red;}
